@page "/counter"
@inject IJSRuntime JS
@rendermode InteractiveWebAssembly

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount" >Click me</button>

<p>@iswasm</p>
<p>@JS.GetType()</p>

@code {

    private bool iswasm =>JS.GetType().ToString()
    .Contains("DefaultWebAssemblyJSRunTime");
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;

    }
}
